@{
    ViewBag.Title = "Home Page";
}

@Ajax.ActionLink(
        "List all Schools",
        "AllSchools",
        "Home",
        new AjaxOptions
        {
            UpdateTargetId = "UpdateContentDiv",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "divLoading",
            OnBegin = "onAjaxBegin",
            OnComplete = "onAjaxComplete"
        },
        new {@class = "btn btn-primary"}
    )
<style>
    .HideLoader{
        display:none;
    }

    .ShowLoader{
        display:normal;
    }
</style>

<script>
    function onAjaxBegin() {
        $("#divLoading").removeClass("ShowLoader").addClass("ShowLoader");
    }

    function onAjaxComplete() {
        $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
    }
</script>

<div id="divLoading" class="divhide">

    <img src="~/Loading.gif" alt="" height="150" />
</div>

<div id="updateContentDiv">

</div>


@section scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }